/*  COMMON RULES  */

body {
  background-repeat: no-repeat;
  font-family: "Nunito", sans-serif;
  background: url("./assets/creatv-eight-pRKDJZWNUvY-unsplash.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Nunito";
}

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

div {
  display: block;
}

img {
  pointer-events: none;
}

/* HEADER */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  padding: 10px 0;
}

.header {
  background-color: white;
  border-bottom: 6px solid #9069cd;
}

.header-logo {
  height: 40px;
  margin-left: 10px;
}

p {
  color: #444444;
  font-weight: 600;
  margin-right: 10px;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 17px;
}

.button-login {
  background-color: #9069cd;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  font-family: "Nunito";
}

.button-signup {
  background-color: white;
  padding: 10px 20px;
  border: 2px solid #9069cd;
  border-radius: 5px;
}

.button-login span {
  color: white;
  font-weight: 600;
}

.button-signup span {
  color: #9069cd;
  font-weight: 600;
}

.label-login {
  margin-bottom: 10px;
  font-weight: 600;
  color: white;
  display: flex;
  align-content: flex-start;
}

@media (max-width: 780px) {
  .header-logo {
    height: 35px;
    margin-left: 7px;
  }
  p {
    font-weight: 500;
    margin-right: 7px;
  }
  .button-login {
    font-size: 13px;
  }
  .button-signup {
    display: none;
  }
}

@media (max-width: 550px) {
  .header-logo {
    height: 40px;
    margin-left: 10px;
  }
  .button-login {
    font-size: 18px;
  }
  .button-signup,
  .header-icon,
  .none {
    display: none;
  }
}

/* LOGIN */

.login-container {
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

h2 {
  display: block;
  margin-bottom: 80px;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.login-form {
  width: 30%;
  margin: auto;
}

.login-container,
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > input {
  border: 3px solid #9069cd;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.login-form > input:hover {
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
}

button,
input {
  outline: none;
  font-family: "Nunito";
}

input {
  display: inline-block;
  padding-left: 8px;
}

button,
input {
  outline: none;
}

.login-form button {
  background-color: #9069cd;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

button {
  text-align: center;
  align-items: flex-start;
}

.login-container a {
  color: white;
  font-size: 18px;
  margin-top: 55px;
}

a {
  text-decoration: none;
  margin-top: 20px;
}

a:-webkit-any-link {
  cursor: pointer;
}

.happy-logo {
  width: 50%;
  height: 50%;
  padding: 25%;
}

/* SIGN UP */

.signup {
  display: flex;
  padding: 60px;
  background-color: white;
}

.signup-container {
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin: auto;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  padding-bottom: 50px;
}

.user-password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 50%;
  margin: 15px 20px;
}

.column-email {
  display: flex;
  flex-direction: column;
  text-align: start;
  width: 100%;
  margin: 15px 20px;
}

.input {
  border: 3px solid #9069cd;
  height: 35px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.input:hover {
  background-color: #663dff;
  background-image: linear-gradient(
    319deg,
    #663dff 0%,
    #aa00ff 37%,
    #cc4499 100%
  );
}

.label {
  margin-bottom: 10px;
  font-weight: 600;
}

.register {
  background-color: #9069cd;
  color: white;
  border: 3px solid #9069cd;
  height: 50px;
  width: 40%;
  border-radius: 5px;
}

@media (max-width: 600px) {
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 1090px) {
  .signup > img {
    display: none;
  }
}

/* HOME */

.home-img {
  height: 300px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.bg-img {
  background-image: url("./assets/style.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
  pointer-events: none;
}

.card-container {
  width: 80%;
  margin: auto;
}

.card-img {
  width: 400px;
  height: 250px;
  border-radius: 7px;
}

h3 {
  margin-top: 10px;
  color: #268b42;
  font-weight: 600;
  font-size: 20px;
}

h4 {
  margin-top: 10px;
  color: #777777;
  font-weight: 600;
  font-size: 14px;
}

.name-logo {
  display: flex;
  flex-direction: row;
}

.name-logo > img {
  width: 23px;
  margin-right: 10px;
}

.description {
  margin-top: 10px;
}

.restaurants-near {
  color: #444444;
  font-size: 25px;
  margin: 15px 85px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  background-color: #00008b;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  color: black;
  background-color: #9069cd;
  padding-top: 70px;
}

.footer > div {
  width: 30%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.footer > div > a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}
